table th {
  background-color: #FFDFDF;
  padding: 10px 20px;
}

table td {
  background-color: #F9EAE9;
  padding: 10px 20px;
}

.notice {
  background-color: #F9EAE9;
  padding: 5px;
}

header,footer {
  width: 100%;
  padding: 10px;
  background: #c52f24;
  color: #fff;
  margin: 0;
}
